<div class="container">
  <div class="nadawca"><p>{{ nadawca }}</p></div>
  <div class="miejscowosc-data">
      <input type="text" [(ngModel)]="miejscowoscData" placeholder="Miejscowość i data" (change)="printToConsole()" />
  </div>
  <div class="adresaci">
    <docs-conv-adresaci (adresatEventEmitter)="obslugaAdresata($event)"></docs-conv-adresaci>
  </div>
  <div class="tytul-pisma">
      <input type="text" [(ngModel)]="tytulPisma" placeholder="Tytuł pisma" (change)="printToConsole()" class="tytul-pisma-input" />
  </div>
  <div class="tresc-pisma">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" [(ngModel)]="trescPisma" [disabled]="false" [placeholder]="'Treść pisma'" (ngModelChange)="printToConsole()"></ngx-editor>
    </div>
  </div>
  <div class="sekcja-z-tabelkami">
    <docs-conv-sekcje-z-tabelkami (sekcjeZTabelkamiEventEmitter)="obslugaSekcjiZTabelkami($event)"></docs-conv-sekcje-z-tabelkami>
  </div>
  <div class="podpis-nadawcy">
    <p>{{ podpisNadawcy.nazwa }}</p>
    <p>{{ podpisNadawcy.stanowisko }}</p>
    <p>{{ podpisNadawcy.telefon }}</p>
    <p>{{ podpisNadawcy.email }}</p>
    <p>{{ podpisNadawcy.stopka }}</p>
  </div>
</div>
